@page
@model CrudBlazor.Components.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Filmes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Filmes.Nome" class="control-label"></label>
                <input asp-for="Filmes.Nome" class="form-control" />
                <span asp-validation-for="Filmes.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Filmes.Tipo" class="control-label"></label>
                <input asp-for="Filmes.Tipo" class="form-control" />
                <span asp-validation-for="Filmes.Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Filmes.ClassificacaoIndicativa" class="control-label"></label>
                <input asp-for="Filmes.ClassificacaoIndicativa" class="form-control" />
                <span asp-validation-for="Filmes.ClassificacaoIndicativa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Filmes.Duracao" class="control-label"></label>
                <input asp-for="Filmes.Duracao" class="form-control" />
                <span asp-validation-for="Filmes.Duracao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
