@page "/Componente3"
@rendermode InteractiveServer

<h3>Componente3</h3>

@code{
     string x;
}

<input type="text" @bind=@x />

@if (x == "1")
{
    <h1>Formulario do Candidato:</h1>
    <h3>Nome do Canditado</h3>
    <input type="text" />
    <h3>Descreva a Vaga</h3>
    <input type="text" />
    <h3>Linguagem que Domina</h3>
    <input type="text" />
    <h3>Tempo Experiência</h3>
    <input type="text" />
    <br>
    <br>
    <button>Gravar</button>
}

@if (x == "2")
{
    <h1>Formulario do Candidato:</h1>
    <h3>Descrição da Vaga</h3>
    <input type="text" />
    <h3>Digite o Salário Pretendido</h3>
    <input type="text" />
    <h3>Horário Trabalho</h3>
    <input type="text" />
    <h3>Local</h3>
    <input type="text" />
    <br>
    <br>
    <button>Gravar</button>
}

@if (x != "1" && x != "2")
{
    <br>
    <br>
    <h2>Não Existe</h2>
}




