@page "/cidades/edit"
@inject CrudBlazor.Data.ApplicationDbContext DB
@using CrudBlazor.Data
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h4>Cidade</h4>
<hr />
@if (Cidade is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Cidade" OnValidSubmit="UpdateCidade" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary />
                <input type="hidden" name="Cidade.Id" value="@Cidade.Id" />
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <InputText id="name" @bind-Value="Cidade.Name" class="form-control" />
                    <ValidationMessage For="() => Cidade.Name" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/cidades">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    public int Id { get; set; }

    [SupplyParameterFromForm]
    public Cidade? Cidade { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Cidade ??= await DB.Cid.FirstOrDefaultAsync(m => m.Id == Id);

        if (Cidade is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more details, see https://aka.ms/RazorPagesCRUD.
    public async Task UpdateCidade()
    {
        DB.Attach(Cidade!).State = EntityState.Modified;

        try
        {
            await DB.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!CidadeExists(Cidade!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/cidades");
    }

    bool CidadeExists(int id)
    {
        return DB.Cid.Any(e => e.Id == id);
    }
}
